<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <title>Aviso de privacidad</title>

        <style>
            .masthead {
                height: 100vh;
                min-height: 500px;
                background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        </style>
    </head>

  <body> 

    <header class="masthead">
        <div class="container">
            <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light text-primary">Aviso de privacidad</h1>
                <br>
                <p class="lead">
                    De acuerdo a lo Previsto en la “Ley Federal de Protección de Datos Personales”, declaran Eduardo Rodríguez López, Rebeca Rojas Pérez, Jared Abraham Flores Guarneros, Raúl Youthan Irigoyen Osorio, María Fernanda Ramírez Barragán y Diego Armando Ulibarri Hernández como responsables del tratamiento de sus datos personales, hace de su conocimiento que la información de mis clientes es tratada de forma estrictamente confidencial por lo que al proporcionar sus datos personales, tales como:
                    <br>
                    <br>
                    1. Nombre
                    2. Apellido paterno
                    3. Apellido materno
                    4. Fecha de nacimineto 
                    5. Email
                    6. RFC
                    <br>
                    <br>
                    
                    Estos serán utilizados única y exclusivamente para los siguientes fines:
                    <br>
                    <br>
                    1. Información y Prestación de Servicios.
                    2. Actualización de la Base de Datos.
                    3. Cualquier finalidad análoga o compatible con las anteriores.
                    <br>
                    <br>
                    Para prevenir el acceso no autorizado a sus datos personales y con el fin de asegurar que la información sea utilizada para los fines establecidos en este aviso de privacidad, hemos establecido diversos procedimientos con la finalidad de evitar el uso o divulgación no autorizados de sus datos, permitiéndonos tratarlos debidamente.
                    Así mismo, le informamos que sus datos personales pueden ser Transmitidos para ser tratados por personas distintas a este proyecto.
                    Todos sus datos personales son tratados de acuerdo a la legislación aplicable y vigente en el país, por ello le informamos que usted tiene en todo momento los derechos (ARCO) de acceder, rectificar, cancelar u oponerse al tratamiento que le damos a sus datos personales; derecho que podrá hacer valer a través de nuestros correos electrónicos: A01750476@itesm.mx, A01749375@itesm.mx, A01751192@itesm.mx, A01379868@itesm.mx, A01750879@itesm.mx, A01636875@itesm.mx.
 
                    <br> 
                    <br>
                    A través de este canal usted podrá actualizar sus datos. 
                    Este aviso de privacidad podrá ser modificado por Eduardo Rodríguez López, Rebeca Rojas Pérez, Jared Abraham Flores Guarneros, Raúl Youthan Irigoyen Osorio, María Fernanda Ramírez Barragán y Diego Armando Ulibarri Hernández, dichas modificaciones serán oportunamente informadas a través de correo electrónico.
                    </p>
            </div>
            </div>
        </div>
    </header>

</body>
</html>